@import url("../../styles.css");

main.form-page {
  /* width: 100vw; */
  position: relative;
  min-height: 120vh;
  /* overflow-x: hidden; */
  background-color: var(--fondo-claro);
  object-fit: cover;
  display: flex;
}

main.form-page.start {
  justify-content: flex-start;
}

main.form-page.center {
  justify-content: center;
}

/* Imagenes */
.img-fondo {
  /* height: 100%; */
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-signup {
  background-image: url(../../images/login_bg.jpg);
}

.img-signin {
  background-image: url(../../images/login_bg.jpg);
}

.img-enviar-comentario {
  background-image: url(../../images/publish_comment_bg.jpg);
}

/* Formularios y campos */

.form-container {
  position: absolute;
  background-color: var(--fondo-claro);
  z-index: 1;
  min-width: 524px;
  max-width: 40vw;
  height: 100%;
  padding: 1.6rem 3.2rem;
}

.form-container.w-50 {
  min-width: 40vw;
  max-width: 50vw;
}

.form-logo {
  color: var(--contraste-fondo-claro);
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 2.5px;
  line-height: 3rem;
}

form > .form-fields {
  margin-top: 0.8rem;
  /* padding: 1.6rem; */
}

form > .form-fields > .form-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.8rem;
  gap: 1.6rem;
}

form > .form-fields > .form-group > .campo, .campo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form > .form-fields > .form-group > .campo.expandir, .campo.expandir {
  width: 100%;
}

form > .form-fields > .form-group > .campo > .stack > p {
  font-size: 0.9rem;
}

form > .form-fields > .form-group > .campo > .campo-con-icono, .campo > .campo-con-icono {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

form > .form-fields > .form-group > .campo > .campo-con-icono > span.material-icons,
.campo > .campo-con-icono > span.material-icons {
  position: absolute;
  left: 16px;
  top: 22px;
  min-width: 32px;
  color: var(--contraste-superficie-claro);
}

form > .form-fields > .form-group > .campo > .campo-con-icono > .input,
.campo > .campo-con-icono > .input {
  padding: 1.4rem 3.2rem;
  width: 100%;

  border-radius: 10px;
  border: none;
  outline: none;
  background-color: var(--superficie-claro);

  resize: none;

  color: var(--contraste-superficie-claro);
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 500;

  transition: outline-color .3s ease-in-out;
}

form > .form-fields > .form-group > .campo > .campo-con-icono.compacto > .input,
.campo > .campo-con-icono.compacto > .input {
  padding: 0.7rem 2.4rem;

  font-size: 1rem;
  line-height: 1rem;
  font-weight: 400;
}

form > .form-fields > .form-group > .campo > .campo-con-icono > span.material-icons {
  position: absolute;
  left: 16px;
  top: 22px;
  min-width: 18px;
  color: var(--contraste-superficie-claro);
}

.campo > .campo-con-icono.compacto > span.material-icons {
  left: 8px;
  top:  9px;
}

form > .form-fields > .form-group > .campo > .campo-con-icono > span.sufijo,
.campo > .campo-con-icono > span.sufijo {
  right: 8px;
  left: auto!important;
  cursor: pointer;
} 

form > .form-fields > .form-group > .campo > .campo-con-icono > textarea.input {
  font-family: inherit;
  min-height: 10rem;
  font-size: 1rem;
}

form > .form-fields > .form-group > .campo > .campo-con-icono > .input:focus,
.campo > .campo-con-icono > .input:focus {
  outline: var(--primario-claro) solid 2px;
}

.error {
  color: var(--error-claro)!important;
}

.text-acount {
  font-size: 1.1rem;
  margin: 1rem 0;
}

.account-link {
  margin-left: 0.4rem;
  color: var(--primario-claro);
  transition: 0.4s ease;
  font-size: 1.1rem;
}

.account-link:hover {
  color: var(--variante-primario-claro);
}

/*
form {
  padding: 2.3rem 1.2rem;
  overflow: hidden;
  position: relative;
}

.img-container-signup {
  grid-column-start: 2;
  grid-column-end: 4;
}

.form-fields {
  padding: 5.5rem 0;
  position: relative;
}

.form-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 0;
}

.form-title {
  font-weight: 400;
  font-size: 2rem;
}

.input-container {
  position: relative;
  margin: 2.5rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid var(--contraste-superficie-claro);
  background: var(--superficie-claro);
  padding: 1.2rem 1.2rem;
  color: var(--contraste-superficie-claro);
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: 0.5px;
  border-radius: 10px;
  transition: 0.3s;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: var(--contraste-superficie-claro);
  font-size: 1.2rem;
  font-weight: 500;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container span::before,
.input-container span::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 5px;
  opacity: 0;
  transition: 0.3s;
  background-color: #ff8c6b;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span::before {
  left: 50%;
}

.input-container span::after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span::before,
.input-container.focus span::after {
  width: 50%;
  opacity: 1;
}

.btn-form-container {
  position: relative;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
} */
