:root {
  /*TEMA CLARO*/
  --fondo-claro: #fff;
  --contraste-fondo-claro: #0f0f0f;
  --contraste-fondo-claro-ocho-siete: rgba(15, 15, 15, 0.87);
  --superficie-claro: #f8f8f8;
  --contraste-superficie-claro: rgba(0, 0, 0, 0.6);
  --error-claro: #b00020;
  --contraste-error-claro: #f1f1f1;
  --primario-claro: #29b6f6;
  --variante-primario-claro: #1998d2;
  --contraste-primario-claro: #fff;
  --secundario-claro: #6fd873;
  --variante-secundario-claro: #63c166;
  --contraste-secundario-claro: #fefefe;

  /*TEMA OSCURO*/
  --fondo-oscuro: #1c1c1e;
  --contraste-fondo-oscuro: #efefef;
  --superficie-oscuro: #29292d;
  --contraste-superficie-oscuro: rgba(214, 195, 195, 0.6);
  --error-oscuro: #7676a7;
  --contraste-error-oscuro: #eaeaea;
  --primario-oscuro: #29b6f6;
  --variante-primario-oscuro: #1998d2;
  --contraste-primario-oscuro: #fff;
  --secundario-oscuro: #6fd873;
  --variante-secundario-oscuro: #63c166;
  --contraste-secundario-oscuro: #fefefe;

  /*SOMBRAS*/
  --sombras: rgba(0, 0, 0, 0.15);
}
