@import url("../../styles.css");

nav {
  position: relative;
  top: 0;
  width: 100%;
  background-color: var(--primario-claro);
  height: 7.41vh;
}

.container {
  position: relative;
  max-width: 80vw;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  height: 100%;
}

.logo-container {
  display: flex;
  flex: 1;
  align-items: center;
}

.links-container {
  display: flex;
  flex: 3;
}

.nav-links {
  display: flex;
  flex: 3;
  justify-content: center;
  align-items: center;
}

.btns-container {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
}

.nav-links > ul {
  display: flex;
}

.logo {
  color: var(--contraste-primario-claro);
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 2.5px;
  line-height: 3rem;
}

.solid,
.transparent:hover {
  background-color: #fff;
  color: var(--variante-primario-claro);
}

.transparent,
.solid:hover {
  background-color: transparent;
  color: #fff;
}

.link {
  position: relative;
}

.link > .nav-link {
  line-height: 3rem;
  color: #fff;
  padding: 0 0.8rem;
  letter-spacing: 1px;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
}

.link:hover > .nav-link {
  transform: scale(1.1);
}
