@import url("https://fonts.googleapis.com/css2?family=Port+Lligat+Sans&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Utilidades de texto */

a.no-underline-link {
  text-decoration: none;
}

a:visited {
  color: var(--primario-claro);
}

h2 {
  color: black;
  font-weight: 500;
  font-size: 2.6rem;
}

h3 {
  color: var(--contraste-fondo-claro);
  font-weight: 500;
  font-size: 2.2rem;
}

.center-text {
  text-align: center;
}

.mt-1 {
  margin-top: 0.8rem;
}

.mt-3 {
  margin-top: 2.4rem;
}

.mt-4 {
  margin-top: 3.2rem;
}

.mt-5 {
  margin-top: 4rem;
}

.mt-7 {
  margin-top: 6rem;
}

.mr-3 {
  margin-right: 2.4rem;
}

.redondo {
  border-radius: 2rem!important;
}

.fuente-sm {
  font-size: 1rem!important;
}

.contraste-primario {
  color: var(--contraste-primario-claro)!important;
}

section.contenedor {
  max-width: 1200px;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
}