@import url("../../styles.css");

.btn {
  display: inline-block;
  padding: 1rem 2.2rem;
  font-size: 1.5rem;
  font-style: normal;
  line-height: 1;
  margin: 0 0.2rem;
  font-weight: 500;
  letter-spacing: -0.015%;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  border: none;

  transition: background-color .3s ease;
}

.btn.btn-primario {
  background-color: var(--primario-claro);
  color: var(--contraste-primario-claro);
}

.btn.btn-primario:hover {
  background-color: var(--variante-primario-claro);
}

.btn.btn-primario.btn-desactivado {
  background-color: rgba(var(--primario-claro-rgb), 0.7);
  cursor: no-drop;
}

.btn.btn-secundario {
  background-color: var(--secundario-claro);
  color: var(--contraste-secundario-claro);
}

.btn.btn-secundario:hover {
  background-color: var(--variante-secundario-claro);
}

.btn.btn-contraste-relleno {
  background-color: var(--contraste-primario-claro);
  color: var(--primario-claro);
  border: 2px solid transparent;
}

.btn.btn-contraste-relleno:hover {
  background-color: transparent;
  color: var(--contraste-primario-claro);
  border: 2px solid var(--contraste-primario-claro);
}

.btn.btn-contraste-transparente {
  background-color: transparent;
  color: var(--contraste-primario-claro);
  border: 2px solid var(--contraste-primario-claro);
}

.btn.btn-contraste-transparente:hover {
  background-color: var(--contraste-primario-claro);
  color: var(--primario-claro);
}

.btn.btn-borde {
  border: 2px solid var(--contraste-primario-claro);
}

.solid,
.transparent:hover {
  background-color: var(--contraste-primario-claro);
  color: var(--variante-primario-claro);
}

.transparent,
.solid:hover {
  background-color: transparent;
  color: #fff;
}

.btn-icono {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;
}

.btn-icono.seleccionado > span.material-icons,
.btn-icono.seleccionado > p {
  color: var(--primario-claro);
}
