@import url("../../styles.css");

.card {
  padding: 1.2rem;
  min-height: 7.2rem;
  background: var(--superficie-claro);
  border-radius: 10px;
  box-shadow: 0px 8px 20px 4px rgba(0, 0, 0, 0.3);
}

.card > p {
  text-align: center;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 400;
  font-style: normal;
}
