@import url("../../styles.css");

nav.navbar {
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  background-color: var(--primario-claro);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.container {
  max-width: 90vw;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100%;
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 80vw;
  }
}

nav.navbar > .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav.navbar > .container > .logo-container > .logo, 
nav.navbar > .container > ul.nav-links > li a,
nav.navbar > .container > .btns-container {
  padding: 0.6rem 0;
}

.logo-container {
  display: flex;
  align-items: center;
}

.links-container {
  display: flex;
}

.btns-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  color: var(--contraste-fondo-claro);
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 2.5px;
  line-height: 3rem;
}

.solid,
.transparent:hover {
  background-color: #fff;
  color: var(--variante-primario-claro);
}

.transparent,
.solid:hover {
  background-color: transparent;
  color: #fff;
}

ul.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}

button.btn-menu-mobile {
  margin-left: 1.6rem;
  display: block;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: var(--contraste-primario-claro);
}

button.btn-menu-mobile > span.material-icons {
  font-size: 2rem;
}

@media screen and (min-width: 1526px) {
  ul.nav-links { 
    display: flex;
    justify-content: space-between;
    gap: 0.8rem;
  }

  button.btn-menu-mobile {
    display: none;
  }
}

ul.nav-links > li {
  display: inline-block;
  max-width: 14vw;
  text-align: center;
  cursor: pointer;
}

ul.nav-links > li > .nav-link {
  color: #fff;
  height: 100%;
  margin-right: 0.8rem;
  letter-spacing: 1px;
  font-size: 1.2rem;
  transition: font-size 0.5s;
}

ul.nav-links > li > a.nav-link:hover {
  transform: scale(1.1);
}
