@import url("../../styles.css");

.banner {
  position: relative;
  width: 100%;
  height: 80vh;
  background: url("luca-bravo-qCA6EULMskk-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.color-contrast {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--contraste-superficie-claro);
  display: flex;
  justify-content: center;
}

.container-text {
  position: relative;
  width: 80vw;
  height: 100%;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text-flex {
  margin: 1.5rem 0;
}

.text {
  font-size: 4rem;
  font-weight: 500;
  color: var(--contraste-primario-claro);
}

.together {
  position: relative;
  display: flex;
  margin-bottom: 3.5rem;
}

.edition {
  margin-right: 0.8rem;
}

.description {
  font-size: 2.25rem;
  font-weight: 400;
  color: var(--contraste-primario-claro);
}

.btn-container {
  margin-top: 2rem;
}

.info-container {
  position: relative;
  padding: 4.5rem 0;
  width: 100%;
  height: 13vh;
  display: flex;
  justify-content: center;
}

.box-info {
  position: relative;
  width: 80vw;
  height: 100%;
  padding: 0 2rem;
  display: flex;
  align-items: center;
}

.info {
  font-size: 1.5rem;
}

.home-second-part {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

.bottle-definition-box {
  position: relative;
  width: 57.29vw;
  height: 100%;
}

.img-definition-box {
  position: relative;
  width: 42.71vw;
  height: 100%;
  background: url("svitlana-arFB7nh1aQE-unsplash.jpg");
  background-size: contain;
}

.bottle-definition-container-up {
  position: relative;
  width: 100%;
  height: 62.96vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--fondo-claro);
}

.bottle-definition-container-down {
  position: relative;
  width: 100%;
  height: 37.04vh;
  background: var(--primario-claro);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottle-definition-container-up-text-container {
  position: relative;
  width: 66.36%;
  height: 63.24%;
}

.tittle-definion-up {
  font-size: 2.85rem;
  font-weight: 400;
}

.text-description-container-up {
  position: relative;
  width: 100%;
  height: auto;
  margin: 3.25rem 0;
}

.text-description-up {
  font-size: 1.15rem;
}

.bottle-definition-container {
  position: relative;
  width: 81.27%;
  height: 62.5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
