@import url("../../styles.css");

.tarjeta { 
  min-height: 8rem;
  max-height: 16rem;
  overflow: hidden;

  padding: 1.6rem;

  background-color: var(--superficie-claro);
  color: var(--contraste-superficie-claro);

  transition: .4s background-color ease;
}

.tarjeta.elevacion-1 {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.tarjeta > .encabezado {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1.6rem;
}

.tarjeta > .encabezado > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.tarjeta > .encabezado > div > div > h4.titulo {
  font-size: 1.4rem;
}

.tarjeta > .encabezado > div > div > h6.subtitulo {
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 400;
  color: rgba(var(--contraste-superficie-rgb), 0.6);
}

.tarjeta.con-accion:hover {
  background-color: #f0f0f0;
}